In [7]:
# Import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def table_df(html_table_bs, index_on=None):
    
    df_columns = [column.get_text(strip=True, separator=" ") for column in html_table_bs.findAll('tr')[0].findAll('th')]
        
    # Loop through the data rows and store into Python array
    df_data = []
    for row in html_table_bs.tbody.findAll('tr')[1:]:
        df_data.append([td.get_text(strip=True, separator=" ") for td in row.findAll('td')])

    dataframe = pd.DataFrame(data=df_data, columns=df_columns)
    if index_on is None:
        return dataframe
    
    dataframe.set_index(index_on, inplace=True)
    return dataframe

# Get HTML data
html_data = requests.get('https://en.wikipedia.org/wiki/Amazon_(company)#Finances').text
wikitable = BeautifulSoup(html_data, 'html.parser').find('table', {'class': 'wikitable float-left'})
table_df(wikitable, ['Year'])

,Revenue in mil. USD$,Net income in mil. USD$,Total Assets in mil. USD$,Employees
Year,,,,
2007 [138],"14,835",476,"6,485","17,000"
2008 [139],"19,166",645,"8,314","20,700"
2009 [140],"24,509",902,"13,813","24,300"
2010 [141],"34,204","1,152","18,797","33,700"
2011 [142],"48,077",631,"25,278","56,200"
2012 [143],"61,093",−39,"32,555","88,400"
2013 [144],"74,452",274,"40,159","117,300"
2014 [145],"88,988",−241,"54,505","154,100"
2015 [146],"107,006",596,"64,747","230,800"
2016 [147],"135,987","2,371","83,402","341,400"
2017 [148],"177,866","3,033","131,310","566,000"
2018 [149],"232,887","10,073","162,648","647,500"
2019 [150],"280,522","11,588","225,248","798,000"
2020 [151],"386,064","21,331","321,195","1,298,000"

In [6]:
import re, requests

def getCIKs(TICKERS):
    URL = 'http://www.sec.gov/cgi-bin/browse-edgar?CIK={}&Find=Search&owner=exclude&action=getcompany'
    CIK_RE = re.compile(r'.*CIK=(\d{10}).*')    
    cik_dict = {}
    for ticker in TICKERS:
        res = requests.get(URL.format(ticker), stream = True)
        results = CIK_RE.findall(res.text)
        if len(results):
            results[0] = int(re.sub('\.[0]*', '.', results[0]))
            cik_dict[str(ticker).upper()] = str(results[0])
    f = open('cik_dict', 'w')   
    print(cik_dict)
    f.close()

getCIKs(['wmt','amzn','nflx', 'FGPHF'])
# returns:
# {'WMT': '104169', 'AMZN': '1018724', 'NFLX': '1065280'}

{'WMT': '104169'}

In [10]:
html_data = requests.get('https://en.wikipedia.org/wiki/Tesla,_Inc.').text
wikitable = BeautifulSoup(html_data, 'html.parser').find('table', {'class': 'wikitable'})
table_df(wikitable, ['Joined'])

,Name,Titles,Independent,Notes
Joined,,,,
2014 [76],Robyn Denholm,"Full-time Chairwoman of Tesla, Inc.; former CF...",Yes,"As of March 2020, Denholm is the only Board me..."
2004 [7],Elon Musk,"Co-founder, CEO and Product Architect of Tesla...",No,
2004 [79],Kimbal Musk,"Board member, SpaceX [80]",No,
2007 [81],Ira Ehrenpreis,General Partner at Technology Partners [73],Disputed [68],
2007 [79],Antonio J. Gracias,CEO and Chairman of the Investment Committee a...,Disputed [68],Has agreed not to stand for re-election when h...
2017 [73],James Murdoch,Former CEO of 21st Century Fox [73],Yes,
2018 [70],Larry Ellison,"Co-founder, Chairman and CTO of Oracle Corpora...",Yes,
2018 [70],Kathleen Wilson-Thompson,Global head of Human Resources of Walgreens Bo...,Yes,
2020 [84],Hiromichi Mizuno,United Nations Special Envoy on Innovative Fin...,Yes,