In [60]:
from pathlib import Path
import alpha_factors_helper as afh
import pandas as pd
import numpy as np

In [10]:
alpha_factors = afh.load_alpha_factors(Path('~/Anaconda Projects/svi-trading-tools/data/weekly_low_risk_max15_final/ai_alpha_factor.parquet'))

In [61]:
trading_dates = np.unique(alpha_factors.index.get_level_values(0))

In [62]:
trading_dates

array(['2018-08-06T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-08-08T00:00:00.000000000', ...,
       '2023-02-09T00:00:00.000000000', '2023-02-10T00:00:00.000000000',
       '2023-02-13T00:00:00.000000000'], dtype='datetime64[ns]')

In [64]:
trading_dates_df = pd.DataFrame(trading_dates[-30:], columns=['trading_dates'])

In [65]:
trading_dates_df

   trading_dates
0     2022-12-30
1     2023-01-03
2     2023-01-04
3     2023-01-05
4     2023-01-06
5     2023-01-09
6     2023-01-10
7     2023-01-11
8     2023-01-12
9     2023-01-13
10    2023-01-17
11    2023-01-18
12    2023-01-19
13    2023-01-20
14    2023-01-23
15    2023-01-24
16    2023-01-25
17    2023-01-26
18    2023-01-27
19    2023-01-30
20    2023-01-31
21    2023-02-01
22    2023-02-02
23    2023-02-03
24    2023-02-06
25    2023-02-07
26    2023-02-08
27    2023-02-09
28    2023-02-10
29    2023-02-13

In [56]:
trading_dates_df.groupby([pd.Grouper(key='trading_dates', freq='W')]).count()

Empty DataFrame
Columns: []
Index: [2018-08-12 00:00:00, 2018-08-19 00:00:00, 2018-08-26 00:00:00, 2018-09-02 00:00:00, 2018-09-09 00:00:00, 2018-09-16 00:00:00, 2018-09-23 00:00:00, 2018-09-30 00:00:00, 2018-10-07 00:00:00, 2018-10-14 00:00:00, 2018-10-21 00:00:00, 2018-10-28 00:00:00, 2018-11-04 00:00:00, 2018-11-11 00:00:00, 2018-11-18 00:00:00, 2018-11-25 00:00:00, 2018-12-02 00:00:00, 2018-12-09 00:00:00, 2018-12-16 00:00:00, 2018-12-23 00:00:00, 2018-12-30 00:00:00, 2019-01-06 00:00:00, 2019-01-13 00:00:00, 2019-01-20 00:00:00, 2019-01-27 00:00:00, 2019-02-03 00:00:00, 2019-02-10 00:00:00, 2019-02-17 00:00:00, 2019-02-24 00:00:00, 2019-03-03 00:00:00, 2019-03-10 00:00:00, 2019-03-17 00:00:00, 2019-03-24 00:00:00, 2019-03-31 00:00:00, 2019-04-07 00:00:00, 2019-04-14 00:00:00, 2019-04-21 00:00:00, 2019-04-28 00:00:00, 2019-05-05 00:00:00, 2019-05-12 00:00:00, 2019-05-19 00:00:00, 2019-05-26 00:00:00, 2019-06-02 00:00:00, 2019-06-09 00:00:00, 2019-06-16 00:00:00, 2019-06-23 00:00:00, 2019-06-30 00:00:00, 2019-07-07 00:00:00, 2019-07-14 00:00:00, 2019-07-21 00:00:00, 2019-07-28 00:00:00, 2019-08-04 00:00:00, 2019-08-11 00:00:00, 2019-08-18 00:00:00, 2019-08-25 00:00:00, 2019-09-01 00:00:00, 2019-09-08 00:00:00, 2019-09-15 00:00:00, 2019-09-22 00:00:00, 2019-09-29 00:00:00, 2019-10-06 00:00:00, 2019-10-13 00:00:00, 2019-10-20 00:00:00, 2019-10-27 00:00:00, 2019-11-03 00:00:00, 2019-11-10 00:00:00, 2019-11-17 00:00:00, 2019-11-24 00:00:00, 2019-12-01 00:00:00, 2019-12-08 00:00:00, 2019-12-15 00:00:00, 2019-12-22 00:00:00, 2019-12-29 00:00:00, 2020-01-05 00:00:00, 2020-01-12 00:00:00, 2020-01-19 00:00:00, 2020-01-26 00:00:00, 2020-02-02 00:00:00, 2020-02-09 00:00:00, 2020-02-16 00:00:00, 2020-02-23 00:00:00, 2020-03-01 00:00:00, 2020-03-08 00:00:00, 2020-03-15 00:00:00, 2020-03-22 00:00:00, 2020-03-29 00:00:00, 2020-04-05 00:00:00, 2020-04-12 00:00:00, 2020-04-19 00:00:00, 2020-04-26 00:00:00, 2020-05-03 00:00:00, 2020-05-10 00:00:00, 2020-05-17 00:00:00, 2020-05-24 00:00:00, 2020-05-31 00:00:00, 2020-06-07 00:00:00, 2020-06-14 00:00:00, 2020-06-21 00:00:00, 2020-06-28 00:00:00, 2020-07-05 00:00:00, ...]

[237 rows x 0 columns]

In [92]:
buy_dates = trading_dates_df.groupby([pd.Grouper(key='trading_dates', freq='W')])['trading_dates'].min()

In [93]:
buy_dates

trading_dates
2023-01-01   2022-12-30
2023-01-08   2023-01-03
2023-01-15   2023-01-09
2023-01-22   2023-01-17
2023-01-29   2023-01-23
2023-02-05   2023-01-30
2023-02-12   2023-02-06
2023-02-19   2023-02-13
Freq: W-SUN, Name: trading_dates, dtype: datetime64[ns]

In [90]:
sell_dates = buy_dates[1:]

In [91]:
sell_dates

array(['2023-01-03T00:00:00.000000000', '2023-01-09T00:00:00.000000000',
       '2023-01-17T00:00:00.000000000', '2023-01-23T00:00:00.000000000',
       '2023-01-30T00:00:00.000000000', '2023-02-06T00:00:00.000000000',
       '2023-02-13T00:00:00.000000000'], dtype='datetime64[ns]')